NODE_ENV=development
PORT=3002
SERVICE_NAME=course-service
DB_HOST=localhost
DB_PORT=5432
DB_NAME=universidad_db
DB_TEST_NAME=universidad_test_db
DB_USER=postgres
DB_PASSWORD=YOUR_SECURE_PASSWORD_HERE
CORS_ORIGIN=*